@import "~bootstrap/scss/bootstrap";;

$navy: #313552;
$red: #B8405E;
$green: #2EB086;
$gold: #EEC373;

$display-font: 'Zilla Slab', serif;

body {
  color: $navy;
}

a {
  color: white;
}

.page-title,
.home-page-title {
  font-family: $display-font;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5vw;
}

.page-title {
  background: $red;
  font-size: 3rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: $display-font;
  color: $green;
  text-align: center;
  margin-bottom: 4vw;
}

.page-description {
  font-size: 1.35rem;
  margin: 6vw auto;
}

/*-----------------------------
            Header
-----------------------------*/

.navbar {
  background: $green;
}

.logo-sm {
  width: 60px;
  height: auto;
}

.school-name {
  margin-left: 1rem;
  font-family: $display-font;
  font-size: 1.75rem;
  font-weight: bold;
  color: $navy;
  vertical-align: middle;
}

#offcanvasNavbar {
  background: $navy;
  color: #FFF;

  a {
    color: #FFF;
  }

  #offcanvasNavbarLabel {
    font-family: $display-font;
  }

  .dropdown-menu-dark {
    background: $navy;
    border: none;
  }
}

.hero {
  padding: 0;
  margin: 0;
  margin-top: 75px;

  .owl {
    width: 30%;
    height: auto;
  }

  h1, h2 {
    font-family: $display-font;
    font-weight: bold;
  }

  h1 {
    // font-size: 4.5rem;
    font-size: 5.5vw;
    color: $green;
  }

  h2 {
    // font-size: 2.5rem;
    font-size: 3vw;
  }

  h3 {
    // font-size: 2rem;
    font-size: 2.5vw;
    color: $red;
    text-transform: uppercase;
  }
}

.tour-btn {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background: $gold;
  border: none;
}

.tour-btn:hover, .tour-btn:focus {
  background: $red;
}

.tour-btn:active {
  background: $navy;
}

.tour-form-btn {
  background: $red;
  font-weight: bold;
}

.tour-form-btn:hover, .tour-form-btn:focus {
  background: $red;
}

/*-----------------------------
            Home
-----------------------------*/

.home-page-title {
  font-size: 4rem;
  background: $navy;
}

.quick-fact-container {
  width: 70vw;
  aspect-ratio: 1;
  border: 1.25rem solid $green;
  margin: 0 3rem 3rem 3rem;
  
  .quick-fact-title {
    font-size: 5rem;
    font-family: $display-font;
    font-weight: bold;
  }

  img {
    width: 30%;
    height: auto;
    margin: 0 auto;
  }
}

.quick-fact-container:nth-of-type(2) {
  border: 1.25rem solid $red;
}

.quick-fact-container:nth-of-type(3) {
  border: 1.25rem solid $gold;
}

.testimonies {
  background: $red;
  color: white;
  margin-top: 3rem;

  .quote {
    width: 5rem;
  }

  .quote:nth-of-type(1) {
    transform: scaleX(-1);
  }

  .quote:nth-of-type(2) {
    display: block;
    margin-right: 0;
    margin-left: auto;
  }

  .blockquote-footer {
    color: white;

  }

}

.yelp-logo {
  width: 12%; 
}

.locations {
  background: $gold;

  .locations-title {
    font-family: $display-font;
    font-size: 3rem;
    font-weight: bold;
  }

  .location-text {
    font-size: 1.75rem;
  }

  .map-container {
    width: 100%;
    height: 30rem;


    #gmap_canvas {
      width: 100%;
      height: 30rem;
    }
  }
}

/*-----------------------------
      Bilingual Overview
-----------------------------*/

button.accordion-button {
  font-size: 1.75rem;
  font-family: $display-font;
  font-weight: bold;
  color: $green;
}

/*---------------------------*/


footer {
  background: $navy;
  color: white;

  .logo-lg {
    width: 15rem;
  }

  .footer-contact-container,
  .logo-container,
  .social-media-container,
  .prek-address,
  .elem-address,
  .attribution-container {
    width: 20rem;
  }
}



@media (max-width: 768px) {

  .hero {
    h1 {
      font-size: 9vw;
    }

    h2 {

      font-size: 5.5vw;
    }

    h3 {

      font-size: 4.5vw;

    }
  }

  .tour-btn {
    font-size: 1rem;
  }
}